<%- include("../partials/html-head") %>
<link rel='stylesheet' href='/public/stylesheets/style.css' />

<%- include("../partials/nav") %>

<h1>Enter a New Flight</h1>
  <form action="/flight" method="POST">
    <label>Airline:
      <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
      </select>
    </label><br>
    <label>Airport:
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
    </label><br>
    <label>Flight Number
      <input type="number" name="flightNo">
    </label><br>
    <label>Departs:
      <input type="datetime-local" name="date" value="2021-11-01TO8:00">
    </label><br>
    <button type="submit">Add Flight</button>
  </form>

<%- include("../partials/footer") %>